/* ---Light CSS Reset--- */
html {
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul{
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

/* ---Custom properties--- */
:root {
    --bg-color-primary: #fdf9f9;
    --bg-color-seconday: #fcfaf8;
   

    --accent-color-primary: #1a9cb8;
    --accent-color-seconday: #1a94b8;

    --text-color-primary: #111111;
    --text-color-secondary: #000000b3;
    

    --transition-default: all 0.2s ease;
}

body.dark-mode{
    --bg-color-primary: #3b444b;
    --bg-color-secondary: #414a4c;

    --accent-color-primary: #1a9cb8;
    --accent-color-seconday: #1a94b8;

    --text-color-primary: #fdf9f9;
    --text-color-secondary: #ffffffb3;

}

.header{
    background-color: var(--bg-color-primary);
    display: flex;
    position: relative;
    justify-content: center;
}

.dark-mode-btn-container{
    position: absolute;
    right: 0;
}
.sidebar{
    background-color: var(--bg-color-secondary);
    color: var(--accent-color-primary)
}

.main{
    background-color: var(--bg-color-primary);
    color: var(--text-color-primary);
}

footer {
    background-color: var(--text-color-primary);
    color: var(--bg-color-primary);
    text-align: center;
}

/* --- Layout styles Desktop ---*/
@media only screen and (min-width: 780px) {

 .content {
    display: grid;
    /* gap: 10px; */
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
 }
 .sidebar{
   
    grid-row: 1/-1;

 }
 .main {
    
    grid-column: 2 / -1;
    grid-row: 1 /-1;
 }
 .footer {
    background-color: black;
    color: #fff;
 }
}
