/* ---Light CSS Reset--- */
html {
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul{
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
}

body{
    height: 100vh;
    font-family: "Alata", sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* ---Custom properties--- */
:root {
    --bg-color-primary: #fcfaf8;
    --bg-color-secondary: #fff;
   

    --accent-color-primary: #dd4d40;
    --accent-color-secondary: #c84a3e;

    --text-color-primary: #191716;
    --text-color-secondary: #292d32de;

    --bg-hover-primary: #dd4d403b;
    --bg-hover-secondary: #dd4d404f;

    --delete-item-hover: #cc0000;
    

    --transition-default: all 0.2s ease;
}

/* ---Dark mode properties--- */
body.dark-mode{
    --bg-color-primary: #192734;
    --bg-color-secondary: #15202b;

    --accent-color-primary: #1a9cb8;
    --accent-color-secondary: #1a94b8;

    --text-color-primary: #fdf9f9;
    --text-color-secondary: #ffffffb3;

    --bg-hover-primary: #1a9cb83b;
    --bg-hover-secondary: #1a94b84f;

    --delete-item-hover: #de3b3b;

}

/* ---Smooth transitions for dark mode--- */
*,
*:before,
*:after {
    transition: color 0.3s ease, border-color 0.3s ease;
}

/* ---Header styles--- */
.header{
    background-color: var(--bg-color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
    border-bottom: 2px solid var(--accent-color-primary);
}

.fa-calendar-check{
    font-size: calc(10px + 1vw);
    color: var(--text-color-primary);
}
.username{
    font-size: calc(12px + 1vw);
    color: var(--accent-color-primary);
    font-weight: 600;
}

.header-title {
    font-size: calc(16px + 1.75vw);
    font-weight: 700;
    color: var(--text-color-primary);
}
.dot, .fy {
    color: var(--accent-color-primary);
}

.fy{
    font-style: italic;
}

.checkbox-dark-mode {
    opacity: 0;
    position: absolute;
}

.checkbox-dark-mode-label {
    background-color: var(--bg-color-secondary);
    width: 44px;
    height: 22px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px var(--accent-color-secondary);
}

.fa-moon {
    color: #f1c40f;
    font-size: 12.5px;
}

.fa-sun {
    color: #f39c12;
    font-size: 12.5px;
}

.checkbox-dark-mode-label .ball {
    background-color: var(--accent-color-secondary);
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox-dark-mode:checked+.checkbox-dark-mode-label .ball {
    transform: translateX(22px);
}

.content{
    background-color: var(--bg-color-primary);
}

/* ---Sidebar Styles---*/
.sidebar.sidebar{
    background-color: var(--bg-color-secondary);
    color: var(--text-color-primary);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.5em 1.5em;
    z-index: 2;
}

 .sidebar>input,.sidebar>label {
     display: none;
 }

.sidebar-title{
    margin-bottom: 0.5em;
    border-bottom: 2px solid var(--accent-color-primary);
    font-weight: 500;
}

.dynamic-categories-container>.sidebar-title{
    margin-top: 0.25em;
}

.move-on-press{
    z-index: 3;
    scale: 1;
}

.categories{
    margin-top: 1.25em;
}

.categories li {
    margin: 0.5em 0;
    padding-left: 1em;
    padding: 0.25em 0.25em 0.25em 1em;
    display: flex;
    justify-content: space-between;
}

.categories li:hover{
    background-color: var(--bg-hover-primary);
    border-radius: 5px;
    cursor: pointer;
}

.categories li button:hover,
.categories li button i:hover{
    cursor: pointer;

}

.categories li button, .add-button{
    background: none;
    border: none;
    outline: none;
    font-size: calc(14px + .2vw);
    color: var(--text-color-primary);
    
}

button i {
    padding-right: .5em;
}

.add-button {
    color: var(--accent-color-primary);
    border: 2px solid var(--accent-color-primary);
    border-radius: 5px;
}

.add-button:hover{
    color: var(--bg-color-primary);
    background-color: var(--accent-color-primary);
}

.dynamic-categories .fa-trash {
    font-size: 12px;
    padding-right: .5em;
}

.dynamic-categories .fa-trash:hover {
    background-color: var(--bg-hover-secondary);
    border-radius: 5px;
}

/* ---Main Styles--- */
.main{
    background-color: var(--bg-color-primary);
    color: var(--text-color-primary);
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: .75em 1.5em 0em 1.5em;
}

.main-title-div{
    align-self: center;
}

.main-title{
    color: var(--accent-color-primary);
    font-weight: 600;
    padding: 0.2em 2em;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
}

.list-container>.add-button{
    border: none;
    margin-top: .5em;
    margin-bottom: .75em;
    color: var(--text-color-secondary);
}

.list-container>.add-button:hover{
    background-color: transparent;
    color:var(--accent-color-secondary);
    cursor: pointer;
}

.task-list{
    display: flex;
    flex-direction: column;
}

.item-container{
    display: flex;
    position: relative;
    border: 1.5px solid var(--text-color-secondary);
    border-radius: 10px;
    padding: .25em;
    margin-bottom: .75em;
    transition: transform 0.2s ease;
}

.item-container:has(.task-checkbox:checked){
    opacity: 0.6;
}

.item-container:hover{
    background-color: var(--bg-color-secondary);
    transform: translateY(-2px);
}
.checkbox-container{
    padding-right: .2em;
}

input[type="checkbox"].task-checkbox{
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1.5px solid var(--accent-color-primary);
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    transition: all 0.2s ease;
}

input[type="checkbox"].task-checkbox:checked::after {
    content: "✔";
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"].task-checkbox:checked {
    background-color: var(--accent-color-secondary);
    transform: scale(1.1);
}

input[type="checkbox"].task-checkbox:checked::after {
    content: "✓";
    color: var(--bg-color-primary);
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-info{
    flex: 1;
}

.item-info>h2,.main-title{
    font-size: clamp(14px, calc(14px + 0.75vw), 22px);
}

.item-info p:nth-of-type(1){ /*description*/
    color: var(--text-color-secondary);
    margin: .5em 0;
}

.item-info p:nth-of-type(2) { /*date*/
    font-size: clamp(12px, calc(12px + 0.1vw), 18px);
}

.item-info p:nth-of-type(3){ /*category*/
    margin-top: .5em;
}

.btn-container{
    margin: .25em .25em 0 0;
}

.btn-container>button{
    background: none;
    border: none;
    outline: none;
    font-size: calc(14px + .25vw);
    color: var(--text-color-secondary);
}

.edit-item:hover{
    color: var(--accent-color-primary)
}

.delete-item:hover{
    color: var(--delete-item-hover);
}

.priority {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.priority.high{
    background-color: #990000;
}
.priority.medium{
    background-color: #f4c430;
}
.priority.low{
    background-color: #0a5c36;
}


/*---Footer Styles---*/
footer {
    background-color: var(--text-color-primary);
    color: var(--bg-color-primary);
    text-align: center;
    padding: 0.25em;
}

/* ------------- DESKTOP STYLES -------------*/
@media only screen and (min-width: 780px) {
 body{
    overflow: hidden;
 }

 .content {
    display: grid;
    height: 100%;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 4fr;
    overflow: hidden;
 }

 /* ---Header--- */
 .fa-calendar-check{
    padding: 0 .25em;
 }

 .username{
    padding-left: 0.25em;
 }

 .checkbox-dark-mode-label {
    width: 58px;
    height: 29px;
 }

 .fa-moon, .fa-sun{
    font-size: calc(18px);
 }

 .checkbox-dark-mode-label .ball {
    width: 25px;
    height: 25px;
 }

 .checkbox-dark-mode:checked+.checkbox-dark-mode-label .ball {
    transform: translateX(29px);
 }

 /* ---Sidebar--- */
 .sidebar{
    position: relative;
    grid-row: 1/-1;
    transition: transform 0.3s ease;
    width: 300px;
   
 }

 .sidebar>label{
    display: inline-block;
 }

 .sidebar-title{
    padding-bottom: 0.25em;
    margin: 1em 0em .5em 0em;
 }

 .sidebar.hidden {
    transform: translateX(-100%);
 }

 .move-on-press{
    position: absolute;
    top: 12px;
    right: 12px;
    transition: right 0.3s ease-in-out;
    padding: .25em .4em;
    text-align: center;
 }

 .move-on-press:hover{
    cursor: e-resize;
    background-color: var(--bg-hover-secondary);
    border-radius: 5px;

 }

 .fa-down-left-and-up-right-to-center{
    color: var(--text-color-secondary);
 }

 #hide-sidebar:checked+.move-on-press {
     right: -33px;
     transition: right 0.3s ease;
 }

 .dynamic-categories-container{
    display: flex;
    flex-direction: column;
    min-height: 0;
 }

 .dynamic-categories{
    flex: 1;
    overflow-y: auto;
    padding-right: 0.5em;
 }

/*  .static-categories-container,
 .dynamic-categories-container{
    padding-right: 0.5em;
 } */
 
 /* ---Main--- */
 .main {
    grid-column: 2 / -1;
    grid-row: 1 /-1;
    padding-top: 3em;
    transition: transform 0.5s ease;
    padding: 0.75em 1em 0 1em;
    justify-self: center;
    min-width: 450px;
    max-width: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0; /*Important for grid/flexbox scrolling*/
 }

 .list-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
 }

 .list-container>.new-task{
    align-self: flex-start;
 }

 .tasks-list{
    flex: 1;
    overflow-y: auto;
    padding-right: 0.5em;
 }

 .main.expand{
    transform: translateX(-300px);
    margin-left: 300px; 
 }

 input[type="checkbox"].task-checkbox{
    width: 20px;
    height: 20px;
 }


 .footer {
    background-color: black;
    color: #fff;
 }

}
